<p class="mb-1">
  <strong>Ид:</strong>
  <%= article.id %>
</p>

<p class="mb-1">
  <strong>Название:</strong>
  <%= article.name %>
</p>

<p class="mb-1">
  <strong>Описание:</strong>
  <%= article.content %>
</p>

<p class="mb-1">
  <strong>Создано в:</strong>
  <%= article.created_at.strftime('%H:%M:%S %d.%m.%Y') %>
</p>
