<h1>Статья</h1>

<%= render @article %>

<div>
  <%= link_to "Редактировать", edit_article_path(@article), class: "btn btn-primary" %>
  <%= link_to "Назад к статьям", articles_path, class: "btn btn-primary" %>
</div>
